@model IEnumerable<DoAnCoSoTL.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

@* <table class="table">
    <thead style="padding: 20px;text-align: center;">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            @*    <th>Actions</th> *@

@*         </tr>
    </thead>
    <tbody style="font-family: Arial, sans-serif;text-align: center;margin: 0;padding: 0;">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                @* <td>
            <a class="btn btn-primary" asp-action="View" asp-route-id="@user.Id">View</a> |
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td> *@
@*             </tr>
        }
    </tbody>
</table> *@  
@* <div class="search-box pull-left mb-5">
    <form asp-action="Index" asp-controller="Admin" method="get">
        <input type="search" value=@ViewData["searching"] name="Keyword" placeholder="Search for Names...">
        <i class="ti-search"></i>
        <input type="submit" style="display: none" />
    </form>
</div> *@

<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                @*    <th>Actions</th> *@

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    @if (user.Role == "Employee")
                    {
                        <td><a href="~/Admin/Admin/Delete" class="btn-delete" data-id="@user.Id"><i class="ti-trash"></i></a></td>
                    }

                </tr>

                
            }
        </tbody>
    </table>
   @*  @if (Model.Count == 0)
    {
        <img src="/images/error/notfound.png" style="height:50vh; text-align:center; margin-left:30%;" />
        <a asp-action="Create" class="btn btn-warning font-weight-bold" style=" color: white; width:70px; height:70px; border-radius:50%; text-align:center; padding: 2.5% 0;"> Add <i class="fa fa-plus-circle"></i></a>
    } *@

    <a asp-area="Identity" asp-page="/Account/Admin_Add_Register" class="btn btn-primary"> Add <i class="fa fa-plus-circle"></i></a>
   @*  <a class="collapse-item" asp-area="Identity" asp-page="/Account/Admin_Add_Register">Add</a>  *@

   
</div>
@section Scripts {
    <script>
        // Hàm xử lý sự kiện cho nút thùng rác
        $(document).ready(function () {
            $('.btn-delete').click(function (e) {
                e.preventDefault();
                var deleteId = $(this).data('id');
                if (confirm("Are you sure you want to delete this actor?")) {
                    // Gửi yêu cầu xóa đến action "Delete" của controller "Category"
                    $.post('/Admin/Actor/Delete/' + deleteId)
                        .done(function (data) {
                            // Xử lý kết quả trả về nếu cần
                            console.log(data);
                            // Reload trang hoặc làm gì đó khác sau khi xóa thành công
                            window.location.reload();
                        })
                        .fail(function (error) {
                            // Xử lý lỗi nếu có
                            console.error(error);
                            // Hiển thị thông báo lỗi cho người dùng nếu cần
                        });
                }
            });
        });

    </script>
}
